[submodule "script/riscv-opcodes"]
	path = script/riscv-opcodes
	url = git@github.com:riscv/riscv-opcodes
[submodule "src/main/scala/hammer"]
	path = src/main/scala/hammer
	url = git@github.com:Hamster5295/hammer.git
[submodule "sim/lib/mini-gdbstub"]
	path = sim/lib/mini-gdbstub
	url = https://github.com/RinHizakura/mini-gdbstub.git
[submodule "sim/app/rv-tests/repo"]
	path = sim/app/rv-tests/repo
	url = https://github.com/riscv/riscv-tests
[submodule "backend/pdk/icsprout55"]
	path = backend/pdk/icsprout55
	url = https://github.com/openecos-projects/icsprout55-pdk.git
